<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="./bulma_ud.css">
	<link href="./style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="app">
		<nav class="navbar">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item brand-text" href="#">MuCrossV2</a>
				</div>
			</div>
		</nav>

		<section class="section">
			

			<div class="container">
				<div class="tabs is-boxed">
					<ul>
						<li class="is-active"><a>N-1</a></li>
						<li><a>1-1</a></li>
					</ul>
				</div>
				<div class="panel">
					<button @click="allRandom()" class="button">ALL Random</button>
				</div>
				<div class="panel">
					<table class="table">

						<tr>
							<td>
								<svg :width="raleAreaWidth" :height="raleAreaHeight"
									:viewbox="`0 0 ${raleAreaWidth} ${raleAreaHeight}`">
									<!-- rale -->
									<g :transform="`scale(-1,1)translate(-${raleAreaWidth},0)`">
										<template v-for="n in numOfTextileCell">
											<rect v-for="k in numOfRale" :x="(n-1)*cellSizeWithMargin"
												:y="(k-1)*cellSizeWithMargin" :width="cellSize" :height="cellSize"
												:fill="rale[n-1]==(k-1)? 'black':'#fed'" @click="setRale(n,k)" />
										</template>
									</g>
								</svg>
							</td>
							<td>
								<svg :width="pedalAreaWidth" :height="raleAreaHeight"
									:viewbox="`0 0 ${pedalAreaWidth} ${raleAreaHeight}`">
									<!-- link -->
									<g>
										<template v-for="n in numOfPedal">
											<rect v-for="k in numOfRale" :x="(n-1)*cellSizeWithMargin"
												:y="(k-1)*cellSizeWithMargin" :width="cellSize" :height="cellSize"
												:fill="link[n-1][k-1]? 'black':'#dfe'" @click="setLink(n,k)" />
										</template>
									</g>
								</svg>
							</td>
						</tr>
						<tr>
							<td>
								<svg :width="raleAreaWidth" :height="pedalAreaHeight"
									:viewbox="`0 0 ${raleAreaWidth} ${pedalAreaHeight}`">
									<!-- cell -->
									<g :transform="`scale(-1,1)translate(-${raleAreaWidth},0)`">
										<template v-for="n in downUps.length">
											<rect v-if="cells[n-1][k-1]" v-for="k in rale.length+1"
												:x="(k-1)*cellSizeWithMargin + cellMargin" :y="(n-1)*cellSizeWithMargin"
												:width="cellSize" :height="cellSize+(cellMargin)*2" :fill="'#003399'" />
											<rect v-if="!cells[n-1][k-1]" v-for="k in rale.length+1"
												:x="(k-1)*cellSizeWithMargin" :y="(n-1)*cellSizeWithMargin + cellMargin"
												:width="cellSize+(cellMargin)*2" :height="cellSize" :fill="'#FF97C2'" />
										</template>
									</g>
								</svg>
							</td>
							<td>
								<svg :width="pedalAreaWidth" :height="pedalAreaHeight" :viewbox="`0 0 ${pedalAreaWidth} ${pedalAreaHeight}`">
									<g>
										<template v-for="n in pedal.length">
											<rect v-for="k in numOfPedal" :x="(k-1)*cellSizeWithMargin" :y="(n-1)*cellSizeWithMargin" :width="cellSize" :height="cellSize"
												:fill="pedal[n-1]==(k-1)? 'black':'#def'" @click="setPedal(n,k)" />
										</template>
									</g>
								</svg>
							</td>
						</tr>
					</table>


				</div>
			</div>

		</section>


	</div>
	<script src="./vue.js"></script>

	<script src="./script.js"></script>

</body>

</html>