<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="./bulma_ud.css">
	<link href="./style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="app">
		<nav class="navbar">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item brand-text" href="#">MuCrossV2</a>
				</div>
				<div class="navbar-end">
					<div class="navbar-item">
						<a href="https://github.com/min2d/mu-cross2">github</a>
					</div>
				</div>
			</div>
		</nav>

		<section class="section">

			<div class="container">
				<div class="tabs is-toggle">
					<ul>
						<li :class="{'is-active': (mode == 'N-1')}" @click="changeModeTo('N-1')"><a>N-1</a></li>
						<li :class="{'is-active': (mode == '1-1')}" @click="changeModeTo('1-1')"><a>1-1</a></li>
					</ul>
				</div>
				<div class="panel">
					<button @click="allRandom()" class="button">ALL Random</button>
				</div>

				<div class="panel">
					<table class="table">
						<tr>
							<td>
								<div class="has-text-centered title">
									{{textileCol}}
								</div>
							</td>
							<td>
								<div class="has-text-centered title">
									{{numOfPedal}}
								</div>
								numOfPedalN1は変更できるようにする
							</td>
							<td></td>
						</tr>

						<tr>
							<td>
								<!-- rale -->
								<svg :width="raleAreaWidth" :height="raleAreaHeight"
									:viewbox="`0 0 ${raleAreaWidth} ${raleAreaHeight}`">
									<g :transform="`scale(-1,1)translate(-${raleAreaWidth},0)`">
										<template v-for="n in rale.length">
											<rect v-for="k in numOfRale" :x="(n-1)*cellSizeWithMargin"
												:y="(k-1)*cellSizeWithMargin" :width="cellSize" :height="cellSize"
												:fill="rale[n-1]==(k-1)? 'black':'#fed'" @click="setRale(n,k)" />
										</template>
									</g>
								</svg>
							</td>
							<td>
								<!-- link(N-1) -->
								<svg :width="pedalAreaWidth" :height="raleAreaHeight"
									:viewbox="`0 0 ${pedalAreaWidth} ${raleAreaHeight}`" v-if="mode == 'N-1'">
									<g>
										<template v-for="n in numOfPedal">
											<rect v-for="k in numOfRale" :x="(n-1)*cellSizeWithMargin"
												:y="(k-1)*cellSizeWithMargin" :width="cellSize" :height="cellSize"
												:fill="linkN1[n-1][k-1]? 'black':'#dfe'" @click="setLinkN1(n,k)" />
										</template>
									</g>
								</svg>
								<!-- link(1-1) -->
								<svg :width="pedalAreaWidth" :height="raleAreaHeight"
									:viewbox="`0 0 ${pedalAreaWidth} ${raleAreaHeight}`" v-if="mode == '1-1'">
									<g>
										<template v-for="n in numOfPedal">
											<rect v-for="k in numOfRale" :x="(n-1)*cellSizeWithMargin"
												:y="(k-1)*cellSizeWithMargin" :width="cellSize" :height="cellSize"
												:fill="link11[n-1]==(k-1)? 'black':'#dfe'" @click="setLink11(n,k)" />
										</template>
									</g>
								</svg>
							</td>
							<td>
								<div class="title">
									{{numOfRale}}
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<!-- cell -->
								<svg :width="raleAreaWidth" :height="pedalAreaHeight"
									:viewbox="`0 0 ${raleAreaWidth} ${pedalAreaHeight}`">
									<g :transform="`scale(-1,1)translate(-${raleAreaWidth},0)`">
										<template v-for="n in cells.length">
											<rect v-if="cells[n-1][k-1]" v-for="k in rale.length+1"
												:x="(k-1)*cellSizeWithMargin + cellMargin" :y="(n-1)*cellSizeWithMargin"
												:width="cellSize" :height="cellSize+(cellMargin)*2" :fill="'#003399'" />
											<rect v-if="!cells[n-1][k-1]" v-for="k in rale.length+1"
												:x="(k-1)*cellSizeWithMargin" :y="(n-1)*cellSizeWithMargin + cellMargin"
												:width="cellSize+(cellMargin)*2" :height="cellSize" :fill="'#FF97C2'" />
										</template>
									</g>
								</svg>
							</td>
							<td>
								<!-- pedal(N-1) -->
								<svg :width="pedalAreaWidth" :height="pedalAreaHeight" :viewbox="`0 0 ${pedalAreaWidth} ${pedalAreaHeight}`" v-if="mode == 'N-1'">
									<g>
										<template v-for="n in pedalN1.length">
											<rect v-for="k in numOfPedal" :x="(k-1)*cellSizeWithMargin" :y="(n-1)*cellSizeWithMargin" :width="cellSize" :height="cellSize"
												:fill="pedalN1[n-1]==(k-1)? 'black':'#def'" @click="setPedalN1(n,k)" />
										</template>
									</g>
								</svg>
								<!-- pedal(1-1) -->
								<svg :width="pedalAreaWidth" :height="pedalAreaHeight" :viewbox="`0 0 ${pedalAreaWidth} ${pedalAreaHeight}`" v-if="mode == '1-1'">
									<g>
										<template v-for="n in pedal11.length">
											<rect v-for="k in numOfPedal" :x="(k-1)*cellSizeWithMargin" :y="(n-1)*cellSizeWithMargin" :width="cellSize" :height="cellSize"
												:fill="pedal11[n-1][k-1]? 'black':'#def'" @click="setPedal11(n,k)" />
										</template>
									</g>
								</svg>
							</td>
							<td>
								<div class="title">
									{{textileRow}}
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</section>
	</div>
	<script src="./vue.js"></script>

	<script src="./script.js"></script>

</body>

</html>